.form {
    display: flex;
    flex-direction: column;

    > * { //direct child selector
        margin-bottom: $m-size;
    }
}

.form__error {
    margin-top: 0 0 $m-size 0;
    font-style: italic;
}